.filter-container {
    background-color: black;
    height: 5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

@media(max-width: 800px)
{
    .filter-container {
        flex-direction: column;
        height: 8rem;
    }
}
@media(max-width: 450px)
{
    .filter-container {
        height: 5rem;
    }
}
@media(max-width: 320px)
{
    .filter-container {
        height: 5rem;
    }
}